.slider-container {
  width: 900px;
  display: flex;

  .timeRanges {
    width: 100px;
    background: #dedede;
    padding: 0 10px;
  }
  
  .slider {
    width: 130px;
  }

  .range-slider {
    -webkit-appearance: none; 
    width: 100%;
    height: 50px;
    background: #FCF3CF;

    &::-webkit-slider-thumb { 
      -webkit-appearance: none; 
      cursor: pointer; 
      background: #34495E  ; 
      width: 7%; 
      height: 50px; 
    } 
  }

  .yAxis, 
  .step-marker,
  .step-label { 
    user-select: none; 
  }

  .step-marker {
    // fill: #444;
    cursor: pointer;

    // &:hover {
    //   fill: red;
    // }

    // &.active-marker {
    //   fill: blue;
    // }
  }


  .dragger {
    cursor: pointer;
  }

  .controls {
    padding: 20px;
  }
}
