.app-container {
  display: flex;
  height: 100vh;
  align-items: stretch;

  .primary-content {
    overflow-y: scroll;
    background: #444;
    color: #fff;
    position: relative;

    .primary-header {
      position: sticky;
      top: 20px;
      background: #444;
      padding: 5px;
    }

    .history-event {
      display: flex;
      background: rgb(88, 88, 88);
      height: 650px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0 30px;
      margin-bottom: 20px;

      p {
        width: 85%;
      }
    }
  }

  .timeline {
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background: #f2f2f2;

    .step-marker {
      cursor: pointer;
    }
  }
}
